/*SOMMAIRE................

1. MISE EN PAGE GÉNÉRALE 
2. ATTRIBUTS FLEX
3. PLACEMENTS
4. RESPONSIVE DESIGN

..........................*/

/*1.MISE EN PAGE GÉNÉRALE
.........................*/

* {
  font-family: "Roboto", sans-serif;
  color: #525252;
  padding: 0;
  margin: 0;
}

html,
body {
  overflow-x: hidden;
  background-color: white;
}

#page {
  width: 100%;
  margin: auto;
  max-width: 1199px;
}

#left-col {
  width: 33%;
  background-color: #feca07;
}

#right-col {
  width: 67%;
  padding-left: 5%;
}

#left-col i {
  color: black;
}

.formation i {
  color: #feca07;
}

header {
  text-align: center;
}

/*Nom,prénom,fonction*/

h1 {
  font-size: 4em;
  font-weight: 300;
  font-style: normal;
  color: black;
  line-height: 70%;
}

.nom1 {
  color: #feca07;
  font-weight: 400;
}

.dev {
  font-size: 0.4em;
  font-weight: 500;
  line-height: 20%;
}

/*Titres et îcones associées*/

h2 {
  font-size: 2em;
  text-transform: uppercase;
  font-weight: 500;
  color: black;
  margin-top: 5%;
}

h2 i {
  margin-right: .3em;
}

h3 {
  font-size: 1.3em;
  text-transform: uppercase;
  font-weight: 500;
}

.titre1 {
  width: 100%;
  height: 3em;
  margin-bottom: 5%;
  background-color: #424242;
}

.titre1 p {
  color: #feca07;
  font-size: 1.8em;
  text-transform: uppercase;
  font-weight: 500;
}

.titre2 {
  width: 100%;
}

.titre2 i {
  padding-right: 20px;
  padding-left: 5px;
}

.underline {
  border-bottom: #feca07 solid 2px;
}

/*Photo*/

.photo-wrapper {
  padding: 15% 0% 10% 0%;
  width: 100%;
}

.photo {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  border: 4px solid #FFB600;
}

/*2.ATTRIBUTS FLEX
..................*/

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.flex-vertical {
  flex-direction: column;
}

.flex-horizontal {
  flex-direction: row;
}

/*3.PLACEMENTS
..............*/

.loisirs {
  justify-content: space-around;
  width: 100%;
  font-size: 4em;
  margin: 5% 0% 10% 0%;
}

.contact {
  margin: 2% 20% 2% 10%;
}

.contact p {
  padding-bottom: 10%;
}

.contact2 {
  text-align: justify;
  padding: 0% 10% 140%;
}

.formation {
  padding-bottom: 2%;
}

.formation p {
  padding-top: 2%;
}

.head {
  margin: 15% 0% 10% 0%;
}

.rightdiv {
  margin-top: 5%;
  padding-right: 3%;
}

.text_right {
  text-align: justify;
  width: 65%;
}

.dates {
  width: 35%;
  font-weight: 500;
}

.dates .fas,
.far {
  margin-right: 5%;
  margin-top: 2%;
  font-size: 0.7em;
}

div.underline {
  padding-bottom: 2%;
}

.vab {
  vertical-align: bottom;
  font-size: 1.3em;
}

.recom {
  justify-content: space-between;
  width: 100%;
}

.recom p:first-child {
  text-transform: uppercase;
  font-weight: 500;
}

.recom p:nth-child(3) {
  font-weight: 300;
}


/* Responsive design 
.....................*/

/* Affichage photo (masquer sur tablettes et téléphones) */

@media screen and (min-width: 994px) {
  header img {
    display: none;
  }
}

/* Téléphones */

@media all and (max-width: 530px) {

  #page {
    flex-direction: column-reverse;
    font-size: 110%;
  }

  #left-col {
    width: 100%;
  }

  #right-col {
    width: 90%;
  }

  .dates,
  .text_right,
  h1,
  .recom,
  .rightdiv,
  .far,
  .fas,
  h2 {
    width: 100%;
    justify-content: center;
    text-align: center;
    padding-top: 1%;
    flex-direction: column;
  }

  .recom p {
    padding-top: 5%;
  }

  h2 {
    font-size: 1.7em;
  }

  h1 {
    font-size: 3.5em;
    line-height: 80%;
  }

  .contact2 {
    padding: 0% 10% 10%;
  }

  .photo-wrapper,
  .photo {
    background-color: white;
    border: white;
  }

  aside img {
    display: none;
  }

  header {
    padding-top: 10%;
  }

}

/* Tablettes */

@media all and (max-width: 994px) and (min-width: 530px) {

  #page {
    flex-direction: column-reverse;
    font-size: 115%;
  }

  #left-col {
    width: 100%;
  }

  #right-col {
    width: 90%;
  }

  .contact {
    flex-direction: column;
    display: flex;
    text-align: center;
    font-size: 1.2em;
    margin: 1% 0% 1% 0%;
  }

  .contact p {
    padding-bottom: 5%;
  }
  
  .contact2 {
    padding: 0% 10% 7%;
    font-size: 1.1em;
  }

  .photo {
    width: 17em;
    height: 17em;
    border: white;
  }

  header {
    padding-top: 10%;
  }

  h1 {
    line-height: 80%;
    text-align: center;
    font-size: 5em;
  }

  h2 {
    font-size: 1.8em;
  }

  .text_right {
    padding-left: 5%;
    text-align: left;
  }

  .recom,
  .rightdiv {
    padding-right: 1%;
    padding-bottom: 3%;
  }

  .recom p {
    text-align: center;
    font-size: 90%;
  }

  aside img,
  .photo-wrapper {
    display: none;
  }

  .loisirs {
    font-size: 6em;
  }

}

/* Grand écrans */

@media screen and (min-width: 1981px) {

  #page {
    max-width: none;
    font-size: 1vw;
  }

  .photo-wrapper {
    height: 10vw;
    margin-bottom: 5%;
  }

  .photo {
    height: 15em;
    width: 15em;
    border: 0.3em solid #FFB600;
  }

  .contact2 {
    padding: 0% 10% 150%
  }

}